{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}

    <div class="container-fluid form-front form-register mx-auto">
        {{ form_start(form) }}
        <h1 class="h3 mb-3 font-weight-normal text-center">Contact</h1>

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}

        <button class="btn btn-primary" type="submit">Envoyer</button>

        {{ form_end(form) }}
    </div>

    {% if message %}
        {{ message }}
    {% endif %}

    {% include 'footer.html.twig' %}
{% endblock %}
