{% extends 'base.html.twig' %}

{% block title %} FAQ de Symbiose {% endblock %}

{% block body %}

    <div class="container-fluid faq">
        <h1 class="h3 mb-3 font-weight-normal text-center">FOIRE AUX QUESTIONS</h1>

        <div style="margin-top:40px;margin-bottom:40px">
            {% for faq in faqs %}
            <div class="row" style="margin-top:20px;margin-bottom:20px">
                <div class="col-md-12 text-center">
                    <p>{{ faq.question }}</p>
                    <p><i>{{ faq.answer }}</i></p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(faqs) }}
        </div>

    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
