{% extends 'base.html.twig' %}

{% block title %} FAQ de Symbiose {% endblock %}

{% block body %}

    <div class="container-fluid faq">
        <h1 class="h3 mb-3 font-weight-normal text-center">NOS OFFRES</h1>

        <div style="width: 900px; margin: 0 auto; margin-top: 50px;">
            <div class="card" style="width:400px; display: inline-block; vertical-align: top;">
                <div class="card-body">
                    <h4 class="card-title text-center">Compte gratuit</h4>
                    <p class="card-text">Fonctionnalités : </p>
                    <p>Créer un profil 'Recruteur'</p>
                    <p>Créer un profil 'Collaborateur'</p>
                    <p>Créer des projets</p>
                    <p>Postuler à des projets (3 maximum par jour)</p>
                    <a href="{{ path('app_register') }}" class="btn btn-primary">Inscription</a>
                </div>
            </div>

            <div class="card" style="width:400px; display: inline-block; margin-left: 90px">
                <div class="card-body">
                    <h4 class="card-title text-center">Compte prenium</h4>
                    <p class="card-text">Fonctionnalités : </p>
                    <p>Créer un profil 'Recruteur'</p>
                    <p>Créer un profil 'Collaborateur'</p>
                    <p>Créer des projets</p>
                    <p>Postuler à des projets sans restriction</p>
                    <p>Mettre votre projet en avant</p>
                    <p>Mettre votre profil de collaborateur en avant</p>
                    <a href="{{ path('app_register') }}" class="btn btn-primary">Inscription</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
