{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container-fluid">
         Merci {{name}} ,votre compte a désormais activé .
    </div>
    <br>

    {% include 'footer.html.twig' %}

{% endblock %}