{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="form-front form-register mx-auto">
            <h3 class="h3 mb-3 font-weight-normal text-center">Mot de passe oublié</h3>
            {{ form_start(form) }}
                <label for="inputEmail" class="sr-only">Email</label>
                {{ form_row(form.email) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
            <p class="information-register">Vous vous souvenez du mot de passe ? <a href="{{ path('app_login') }}">Se connecter »</a></p>
        </div>
    </div>

    {% if message %}
        {{ message }}
    {% endif %}

    {% include 'footer.html.twig' %}
    
{% endblock %}
