{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container-fluid">
        <form method="post" class="form-front form-register mx-auto">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>

            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       placeholder="Email" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
                       required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-primary" type="submit">Se connecter</button>
            <span><a href="/forgot-password">Mot de passe oublié ?</a></span>

            <p class="information-register">Nouveau sur Symbiose ? <a href="{{ path('app_register') }}">S'inscrire
                    maintenant »</a></p>

        </form>
    </div>

    {% include 'footer.html.twig' %}

{% endblock %}
