{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="form-front form-register mx-auto">
            <h3 class="h3 mb-3 font-weight-normal text-center">Créer votre compte</h3>
            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.userLastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            {{ form_end(form) }}
        </div>
    </div>

    {% include 'footer.html.twig' %}

{% endblock %}