{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="form-front form-register mx-auto">
            <h3 class="h3 mb-3 font-weight-normal text-center">Créer votre nouveau mot de passe</h3>
            {{ form_start(form) }}
            {{ form_row(form.password) }}
            <button type="submit" class="btn btn-primary">S'inscire</button>
            {{ form_end(form) }}
        </div>
    </div>

    
        {{message}}

    {% include 'footer.html.twig' %}

{% endblock %}