{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container-fluid">
         {% if message %}
           <p>  {{ message }} </p>
         {% endif %}
    </div>
    <br>

    {% include 'footer.html.twig' %}

{% endblock %}