<form method="post" action="{{ path('notification_delete', {'id': notification.id}) }}" onsubmit="return confirm('Voulez vous supprimer la notification ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notification.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
