{% extends 'base.html.twig' %}

{% block title %}Notification index{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">MES NOTIFICATIONS</h1>

        <div class="card-block mx-auto">
            {% for notification in notifications %}

                <div class="card">
                    <div class="card-header">
                        <span class="card-text">Notification du : {{ notification.createdAt ? notification.createdAt|date('Y-m-d H:i:s') : '' }}</span>
                    </div>
                    {% if not notification.isSeen %}
                        <div class="card-body not-seen">
                    {% else %}
                        <div class="card-body">
                    {% endif %}
                        <p class="card-text">{{ notification.message | raw }}</p>
                        {{ include('notification/_delete_form.html.twig') }}
                            {#add if postulation alor bouton accepter ou refuser#}
                    </div>
                </div>

            {% else %}
                <div style="width:100%;margin: 0 auto;margin-top:100px;margin-bottom:150px;text-align:center">
                    <p style="color:#C1C1C1"><i>Vous n'avez actuellement aucune notification ...</i></p>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(notifications) }}
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
