<form id="delete-profile" method="post" action="{{ path('profil_delete', {'id': profil.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce profil ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profil.id) }}">
    {#<button class="btn btn-danger">Supprimer</button>#}
</form>
