{{ form_start(form) }}
    {{ form_widget(form) }}
    <p style="color:#C1C1C1"><i>En cochant la case ci-dessus, vous créerez un profil 'Recruteur', sinon il s'agira d'un profil 'Collaborateur'</i></p>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
