{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1  class="text-center">Modifier le Profil</h1>
        
        <div class="card-block mx-auto">
            {{ include('profil/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            {{ include('profil/_delete_form.html.twig') }}
            <input style="margin-top:5px" class="btn btn-danger" type="submit" name="Supprimer" value="Supprimer" form="delete-profile" />
            <a style="margin-top:5px" class="btn btn-dark" href="{{ path('myprofil_index') }}">Retourner à la liste</a>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
