{% extends 'base.html.twig' %}

{% block title %}Profils{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">COLLABORATEURS</h1>

        {% if profiles %}
            {% for message in app.flashes('success') %}
                <div style='margin-top:20px' class='alert alert-success'>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="card-block mx-auto">
                {% for profil in profils %}

                    <div class="card">
                        <div class="card-header">
                            <strong>Collaborateur : {{ profil.idUser.username }} ({{ profil.idUser.email }})</strong>
                            <span class="card-date">Modifié le : {{ profil.updatedAt ? profil.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Titre : </strong>{{ profil.Title }}</p>
                            <p class="card-text"><strong>Description : </strong>{{ profil.description }}</p>
                            <p class="card-text"><strong>Site web : </strong>{{ profil.website }}</p>
                            <p class="card-text"><strong>Linkedin : </strong>{{ profil.linkedin }}</p>
                            <p class="card-text"><strong>Rôle : </strong>{{ profil.roleProfil ? 'Recruteur' : 'Collaborateur' }}</p>
                            <a class="btn btn-primary" href="{{ path('profil_show', {'id': profil.id}) }}">Voir</a>
                        </div>
                    </div>

                {% else %}
                    <div style="width:100%;margin: 0 auto;margin-top:100px;margin-bottom:150px;text-align:center">
                        <p style="color:#C1C1C1"><i>Aucun profil n'a été créé ...</i></p>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                {{ knp_pagination_render(profils) }}
            </div>
        {% else %}
            <div style="width:100%;margin: 0 auto;margin-top:100px;margin-bottom:150px;text-align:center">
                <p>Vous devez avoir un profil 'Recruteur' pour accéder à la <b>liste des collaborateurs</b> ...</p>
                <a class="btn btn-primary" href="{{ path('profil_new') }}">Créer un profil</a>
            </div>
        {% endif %}
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
