{% extends 'base.html.twig' %}

{% block title %}Mes profils{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">MES PROFILS</h1>

        {% if profils.items %}
            <div class="new-project mx-auto">
                <a class="btn btn-primary" href="{{ path('profil_new') }}">Nouveau profil</a>
            </div>

            {% for message in app.flashes('success') %}
                <div style='margin-top:20px' class='alert alert-success'>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="card-block mx-auto">
                {% for profil in profils %}
                    <div class="card">
                        <div class="card-header">
                            <strong>{{ profil.Title }}</strong>
                            <span class="card-date">Modifié le : {{ profil.updatedAt ? profil.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ profil.description }}</p>
                            <p class="card-text"><strong>Site web : </strong>{{ profil.website }}</p>
                            <p class="card-text"><strong>Linkedin : </strong>{{ profil.linkedin }}</p>
                            <p class="card-text"><strong>Rôle : </strong>{{ profil.roleProfil ? 'Recruteur' : 'Collaborateur' }}</p>
                            <a class="btn btn-primary" href="{{ path('myprofil_show', {'id': profil.id}) }}">Voir</a>
                            <a class="btn btn-primary" href="{{ path('profil_edit', {'id': profil.id}) }}">Modifier</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                {{ knp_pagination_render(profils) }}
            </div>

        {% else %}
            <div style="width:100%;margin: 0 auto;margin-top:100px;margin-bottom:150px;text-align:center">
                <p><b>Vous n'avez toujours pas créé de profils</b></p>
                <p>Un profil 'Recruteur' permet d'avoir accès à la liste des collaborateurs</p>
                <p>Un profil 'Collaborateur' permet d'avoir accès à la liste des projets</p>
                <div class="new-project mx-auto">
                    <a class="btn btn-primary" href="{{ path('profil_new') }}">Nouveau profil</a>
                </div>
            </div>
        {% endif %}

    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
