{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1  class="text-center">Profil</h1>
        <div class="card-block mx-auto">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Titre : </strong>{{ profil.Title }}</p>
                    <p class="card-text"><strong>Description : </strong>{{ profil.description }}</p>
                    <p class="card-text"><strong>Linkedin : </strong>{{ profil.linkedin }}</p>
                    <p class="card-text"><strong>Website : </strong>{{ profil.website }}</p>
                    <p class="card-text"><strong>Rôle : </strong>{{ profil.roleProfil ? 'Recruteur' : 'Collaborateur' }}</p>
                </div>
            </div>
            {{ include('profil/_delete_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('profil_edit', {'id': profil.id}) }}">Modifier</a>
            <input class="btn btn-danger" type="submit" name="Supprimer" value="Supprimer" form="delete-profile" />
            <br>
            <a style="margin-top:5px" class="btn btn-dark" href="{{ path('myprofil_index') }}">Retourner à la liste</a>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
