{% extends 'base.html.twig' %}

{% block title %}Créer un profil{% endblock %}

{% block body %}

<div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
    <h1 class="text-center">Créer un nouveau Profil</h1>

    <div class="card-block mx-auto">
        {{ include('profil/_form.html.twig') }}
        <a style="margin-top:5px" class="btn btn-dark" href="{{ path('profil_index') }}">Retourner à la liste</a>
    </div>
</div>

    {% include 'footer.html.twig' %}
{% endblock %}
