{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1  class="text-center">Profil</h1>

        <div class="card-block mx-auto">
            <div class="card">
                <div class="card-header">
                    <strong>Utilisateur : {{ profilUser.idUser.username }} ({{ profilUser.idUser.email }})</strong>
                    <span class="card-date">Modifié le : {{ profil.updatedAt ? profil.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Titre : </strong>{{ profil.Title }}</p>
                    <p class="card-text"><strong>Description : </strong>{{ profil.description }}</p>
                    <p class="card-text"><strong>Linkedin : </strong>{{ profil.linkedin }}</p>
                    <p class="card-text"><strong>Website : </strong>{{ profil.website }}</p>
                    <p class="card-text"><strong>Rôle : </strong>{{ profil.roleProfil ? 'Recruteur' : 'Collaborateur' }}</p>
                </div>
            </div>
            <a style="margin-top:5px" class="btn btn-dark" href="{{ path('profil_index') }}">Retourner à la liste</a>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
