<form method="post" action="{{ path('user_project_apply_delete', {'id': user_project_apply.id}) }}" onsubmit="return confirm('Voulez vous vraiment décliner cette postulation ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_project_apply.id) }}">
    <button class="btn btn-dark">Décliner</button>
</form>
