{% extends 'base.html.twig' %}

{% block title %}Edit UserProjectApply{% endblock %}

{% block body %}
    <h1>Edit UserProjectApply</h1>

    {{ include('user_project_apply/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_project_apply_index') }}">back to list</a>

    {{ include('user_project_apply/_delete_form.html.twig') }}
{% endblock %}
