{% extends 'base.html.twig' %}

{% block title %}UserProjectApply index{% endblock %}

{% block body %}
    <h1>UserProjectApply index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MessageUser</th>
                <th>ApplyDate</th>
                <th>AnswerDate</th>
                <th>IsValidate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_project_apply in user_project_applies %}
            <tr>
                <td>{{ user_project_apply.id }}</td>
                <td>{{ user_project_apply.messageUser }}</td>
                <td>{{ user_project_apply.applyDate ? user_project_apply.applyDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_project_apply.answerDate ? user_project_apply.answerDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_project_apply.isValidate ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user_project_apply_show', {'id': user_project_apply.id}) }}">show</a>
                    <a href="{{ path('user_project_apply_edit', {'id': user_project_apply.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_project_apply_new') }}">Create new</a>
{% endblock %}
