{% extends 'base.html.twig' %}

{% block title %}New Project Application{% endblock %}

{% block body %}
    <h1>Create new Project application</h1>

    {{ include('user_project_apply/_form.html.twig') }}

    <a href="{{ path('user_project_apply_index') }}">back to list</a>
{% endblock %}
