{% extends 'base.html.twig' %}

{% block title %}UserProjectApply{% endblock %}

{% block body %}
    <h1>UserProjectApply</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_project_apply.id }}</td>
            </tr>
            <tr>
                <th>MessageUser</th>
                <td>{{ user_project_apply.messageUser }}</td>
            </tr>
            <tr>
                <th>ApplyDate</th>
                <td>{{ user_project_apply.applyDate ? user_project_apply.applyDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AnswerDate</th>
                <td>{{ user_project_apply.answerDate ? user_project_apply.answerDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsValidate</th>
                <td>{{ user_project_apply.isValidate ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_project_apply_index') }}">back to list</a>

    <a href="{{ path('user_project_apply_edit', {'id': user_project_apply.id}) }}">edit</a>

    {{ include('user_project_apply/_delete_form.html.twig') }}
{% endblock %}
