.bg-img {
  background: url("https://images.unsplash.com/photo-1549820803-0aa4a001449f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80") no-repeat center center fixed;
  background-size: cover;
}

nav .navbar-nav li a{
  color: white !important;
}

#navbar-landing a{
  color: $color;
}

.landing-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.text-landing-primary{
  transform: translateY(-80%);
  font-size: 21px;
}

.landing-card-description{
  background-color: #ECECEC;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-description{
  padding: 15px;
}

.card-description h2{
  color: $color-primary;
  font-size: $font-size-primary;
}

.card-description p, .landing-card-information p{
  font-size: $font-size-secondary
}

.landing-card-information{
  background: linear-gradient(
                  rgba(0, 0, 0, 0.55),
                  rgba(0, 0, 0, 0.55)
  ),url("../../../../public/images/landing/background-information.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.landing-card-information h3{
  color : #FFFFFF;
  font-size: $font-size-secondary;
}

.landing-card-information p{
  color: #FFFFFF;
  font-size: 11px;
}

.landing-card-information img{
  padding-bottom: 15px;
}

.landing-info{
  background-color: #ECECEC;
  padding-top: 50px;
  padding-bottom: 50px;
}

.landing-info p{
  font-size: $font-size-secondary
}

.landing-card-description{
  margin-right: -15px;
  margin-left: -15px;
}

.arrow-up{
  margin-top: 5px;
  margin-right: 5px;
}