.form-front{
  width: 30%;
  margin-bottom: 150px;
}

.form-login{
  margin-top: 15vh;
}

.form-register{
  margin-top: 15vh;
}

.password-forgot{
  font-size : 12px;
  padding-left: 10px;
}

.information-register{
  margin-top: 20px;
}

.faq {
  margin-top: 15vh;
  margin-bottom: 15vh;
}