{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#334152">
        <a class="navbar-brand" href="{{ path('app_default_index') }}">Symbiose</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	    <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                   	<a class="nav-link" href="{{ path('app_default_index') }}">Accueil</a>
                </li>
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="{{ path('user_index') }}">Users</a>#}
                {#</li>#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('project_index') }}">Projets</a>
                </li>
                <li class="nav-item" style="width:99px">
                    <a class="nav-link" href="{{ path('myproject_index') }}">Mes Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_index') }}">Collaborateurs</a>
                </li>
                <li class="nav-item" style="width:94px">
                    <a class="nav-link" href="{{ path('myprofil_index') }}">Mes Profils</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('notification_index') }}">Notifications</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li style="padding-right:40px" class="nav-item">
                    <img style="display:inline-block" src="{{ asset('images/navbar/profile.png') }}" width="40" height="auto">
                    <a style="display:inline-block;vertical-align:bottom" class="nav-link font-weight-bold" href="/user/{{ app.user.id }}/edit">{{ app.user.username }}</a>
                    {#{{ dump( app.user ) }}#}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}