{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('app_default_index') }}">Symbiose</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_default_index') }}">Accueil</a>
                    </li>
                    {#<li class="nav-item">#}
                        {#<a class="nav-link" href="{{ path('user_index') }}">Users</a>#}
                    {#</li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('project_index') }}">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('profil_index') }}">Profils</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('notification_index') }}">Notifications</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}