$background-color: transparent;

$color: #545452;
$color-primary: #82C46C;
$font-size-primary : 18px;
$font-size-secondary : 14px;

$background-footer : #334152;

@import 'sass/back/main.scss';
@import 'sass/back/project.scss';
@import 'sass/back/notification.scss';

@import 'sass/front/main.scss';

@import 'sass/landing/main.scss';

@import 'sass/common/bootstrap-social.scss';
@import 'sass/common/main.scss';