Bonjour {{name}},
<br>
<p>
Nous vous remercions de vous être inscrit(e) sur la plateforme Symbiose.
<br>
Pour activer votre compte , cliquez sur le lien ci-dessous:
<br>
<a href="http://localhost:8000/activate-account/{{token}}">Activer mon compte</a>. </p>
<br>
<p>
Si vous rencontrez des difficultés, copiez et collez le lien ci-dessous dans votre navigateur.
(Mettre le lien en dur si ça ne marche pas)
</p>
<br>
A bientôt,<br>
Symbiose.