Bonjour ,

Nous avons vu votre demande pour réinitialiser votre mot de passe . Nous allons vous faire parvenir un lien pour vous permettre cela.

<a href="http://localhost:8000/reset-password/{{token}}">Réinitialiser mon mot de passe</a>. </p>

Cordialement ,
L'équipe Support de Symbiose.