{% extends 'base.html.twig' %}

{% block title %}ERROR 404{% endblock %}

{% block body %}
    <div style="text-align:center">
        <img src="{{ asset('images/404/404-default.gif') }}" width="600" height="auto">
    </div>
{% endblock %}