{% block footer %}

    <footer class="footer">
        <div class="row">
            <div class="col-md-12 text-right">
                <img class="arrow-up" src="{{ asset('images/landing/arrowup.png') }}" width="30" height="auto">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center text-white">
                <p>Rejoignez Symbiose sur les réseaux sociaux</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-3 col-md-2 text-center">
                <a href="https://www.facebook.com/entsymbiose/" target="_blank" class="btn btn-block btn-social btn-facebook text-white">
                    <span class="fa fa-facebook"></span>Facebook
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a href="https://twitter.com/EntSymbiose" target="_blank" class="btn btn-block btn-social btn-twitter text-white">
                    <span class="fa fa-twitter"></span>Twitter
                </a>
            </div>
            <div class="col-md-2 text-center">
                <a href="https://www.linkedin.com/company/entsymbiose" target="_blank" class="btn btn-block btn-social btn-linkedin text-white">
                    <span class="fa fa-linkedin"></span>Linkedin
                </a>
            </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px">
            <div class="col-md-12 text-center text-white">
                <a class="nav-link" href="{{ path('app_legalnotices') }}">Mentions légales</a>
            </div>
        </div>
    </footer>

{% endblock %}