{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
        <div class="landing-primary">
            <div class="text-landing-primary">
                <div class="row">
                    <div class="mx-auto">
                        <p>Amenez votre idée sous forme de projet maintenant !</p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-auto">
                        <a class="btn btn-dark" href="{{ path('app_register') }}">Commencer</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="landing-card-description">
            <div class="row card-description">
                <div class="offset-md-3"></div>
                <div class="col-md-3 text-right">
                    <img src="{{ asset('images/landing/card-put-forward.png') }}" width="250" height="auto">
                </div>
                <div class="col-md-3 text-left">
                    <h2><strong>Mettre en avant</strong> une idée travaillée</h2>
                    <p>Mon idée est mature et je souhaite la rendre officielle en exprimant aussi les compétences humaines qu’il me manque.</p>
                </div>
                <div class="offset-md-3"></div>
            </div>

            <div class="row card-description">
                <div class="offset-md-3"></div>
                <div class="col-md-3 text-right">
                    <h2><strong>Rechercher</strong> des collaborateurs</h2>
                    <p>Mon projet est présenté comme une annonce de recrutement et je veux trouver des personnes qui correspondent à mes critères.</p>
                </div>
                <div class="col-md-3 text-left">
                    <img src="{{ asset('images/landing/card-search.png') }}" width="250" height="auto">
                </div>
                <div class="offset-md-3"></div>
            </div>

            <div class="row card-description">
                <div class="offset-md-3"></div>
                <div class="col-md-3 text-right">
                    <img src="{{ asset('images/landing/card-participate.png') }}" width="250" height="auto">
                </div>
                <div class="col-md-3 text-left">
                    <h2><strong>Participer</strong> à un projet</h2>
                    <p>Je suis en recherche de missions intéressantes et je souhaite travailler avec un créateur de projet pour l’aider dans son projet.</p>
                </div>
                <div class="offset-md-3"></div>
            </div>

            <div class="row card-description">
                <div class="offset-md-3"></div>
                <div class="col-md-3 text-right">
                    <h2><strong>Intéragir</strong> avec des collaborateurs</h2>
                    <p>Je souhaite effectuer un échange avec mes collaborateurs mais aussi avec les autres utilisateurs de la plateforme dans une démarche d’entretien ou de partage d’information.</p>
                </div>
                <div class="col-md-3 text-left">
                    <img src="{{ asset('images/landing/card-interact.png') }}" width="250" height="auto">
                </div>
                <div class="offset-md-3"></div>
            </div>
        </div>

		<div class="row landing-card-information">
			<div class="offset-md-3 col-md-2 text-center">
				<img src="{{ asset('images/landing/manage.png') }}" width="40" height="auto">
				<h3>Gérez</h3>
				<p>Un espace pour les projets que je suis en train de gérer.</p>
			</div>
			<div class="col-md-2 text-center">
				<img src="{{ asset('images/landing/search.png') }}" width="40" height="auto">
				<h3>Explorez</h3>
				<p>Un espace de recherche de profil spécifique existant sur la plateforme.</p>
			</div>
			<div class="col-md-2 text-center">
				<img src="{{ asset('images/landing/coordinate.png') }}" width="40" height="auto">
				<h3>Coordonnez</h3>
				<p>Postulez pour les projets auxquels vous voulez vous investir.</p>
			</div>
		</div>

		<div class="row landing-info">
			<div class="mx-auto text-center">
                <p>Envie de <strong>vous renseignez</strong> sur cette application web ?</p>
                <p>Des questions <strong>que vous vous posez</strong> ?</p>
                <a href="{{ path('app_faq') }}" class="btn btn-success">En savoir plus</a>
			</div>
		</div>

	</div>

    {% include 'footer.html.twig' %}
{% endblock %}