* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  color: #FFFFFF;
  height: 100%;
  background-color: $background-footer;
}

.pagination nav{
  margin: 0 auto;
}