<form id="delete-projet" method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce projet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    {#<button class="btn">Delete</button>#}
</form>
