{% extends 'base.html.twig' %}

{% block title %}Modifier le projet{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">Modifier le Projet</h1>
        <div class="card-block mx-auto">
            {{ include('project/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            {{ include('project/_delete_form.html.twig') }}
            <input class="btn btn-danger" type="submit" name="Supprimer" value="Supprimer" form="delete-projet" />
            <a class="btn btn-dark" href="{{ path('project_index') }}">Retourner à la liste</a>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
