{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ressources/project') }}
{% endblock %}

{% block title %}Projets{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">PROJETS</h1>

        {% for message in app.flashes('success') %}
            <div style='margin-top:20px' class='alert alert-success'>
                {{ message }}
            </div>
        {% endfor %}

        {% if profiles %}
            <div class="card-block mx-auto">
                {% set noPostulation = 0 %}
                {% set nbPostulation = 0 %}
                {% for project in projects %}
                    {% if project.cantPostulate %}
                        {% set nbPostulation = nbPostulation + 1 %}
                    {% endif %}
                {% endfor %}
                {% if nbPostulation ==  projects|length %}
                    {% set noPostulation = 1 %}
                {% endif %}

                {% if noPostulation %}
                {% else %}
                {% endif %}

                {% for project in projects %}
                    <div class="card">
                        <div class="card-header">
                            <strong>{{ project.name }}</strong>
                            <span class="card-date">Modifié le : {{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i') : '' }}</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ project.description }}</p>
                            <a class="btn btn-primary" href="{{ path('project_show', {'id': project.id}) }}">Voir</a>
                            {% if not project.cantPostulate %}
                                <form style="display:inline-block" method="post" action="{{ path('project_postulation', {'id': project.id}) }}">
                                    <button class="btn btn-dark">Postuler</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div style="width:100%;margin: 0 auto;margin-top:100px;margin-bottom:150px;text-align:center">
                        <p style="color:#C1C1C1"><i>Aucun projet n'a été créé ...</i></p>
                    </div>
                {% endfor %}

                {% if noPostulation %}
                {% else %}
                {% endif %}
            </div>

            <div class="pagination">
                {{ knp_pagination_render(projects) }}
            </div>
        {% else %}
            <div style="width:100%;margin: 0 auto;margin-top:100px;margin-bottom:150px;text-align:center">
                <p>Vous devez avoir un profil 'Collaborateur' pour accéder à la <b>liste des projets</b> ...</p>
                <a class="btn btn-primary" href="{{ path('profil_new') }}">Créer un profil</a>
            </div>
        {% endif %}
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}