{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ressources/project') }}
{% endblock %}

{% block title %}Projets{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">MES PROJETS</h1>

        {% if profiles %}
            <div class="new-project mx-auto">
                <a class="btn btn-primary" href="{{ path('project_new') }}">Nouveau projet</a>
            </div>

            {% for message in app.flashes('success') %}
                <div style='margin-top:20px' class='alert alert-success'>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="card-block mx-auto">
                {% for project in projects %}
                    <div class="card">
                        <div class="card-header">
                            <strong>{{ project.project.name }}</strong>
                            <span class="card-date">Modifié le : {{ project.project.updatedAt ? project.project.updatedAt|date('Y-m-d H:i') : '' }}</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ project.project.description }}</p>
                            <a class="btn btn-primary" href="{{ path('myproject_show', {'id': project.project.id}) }}">Voir</a>
                            <a class="btn btn-primary" href="{{ path('project_edit', {'id': project.project.id}) }}">Modifier</a>
                        </div>
                    </div>

                {% else %}
                    <div style="width:100%;margin: 0 auto;margin-top:100px;margin-bottom:150px;text-align:center">
                        <p style="color:#C1C1C1"><i>Vous n'avez actuellement aucun projet ...</i></p>
                    </div>
                {% endfor %}

                <div class="pagination">
                    {{ knp_pagination_render(projects) }}
                </div>
            </div>
        {% else %}
            <div style="width:100%;margin: 0 auto;margin-top:100px;margin-bottom:150px;text-align:center">
                <p>Vous devez avoir un profil 'Recruteur' pour accéder à la liste de <b>vos projets</b> ...</p>
                <a class="btn btn-primary" href="{{ path('profil_new') }}">Créer un profil</a>
            </div>
        {% endif %}

    </div>

    {% include 'footer.html.twig' %}
{% endblock %}