{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">Projet</h1>

        <div class="card-block mx-auto">
            <a style="margin-top:5px" class="btn btn-dark" href="{{ path('project_index') }}">Retourner à la liste</a>
            
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Titre : </strong>{{ project.name }}</p>
                    <p class="card-text"><strong>Description : </strong>{{ project.description }}</p>
                    {#<p class="card-text"><strong>Description privé : </strong>{{ project.descriptionPrivate }}</p>#}
                    <p class="card-text"><strong>Créé le : </strong>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    <p class="card-text"><strong>Modifié le : </strong>{{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
                    {#<p class="card-text"><strong>Le projet est privée : </strong>{{ project.isPrivate ? 'Yes' : 'No' }}</p>#}
                    {#<p class="card-text"><strong>Le projet est Premium : </strong>{{ project.isPremium ? 'Yes' : 'No' }}</p>#}
                </div>
            </div>
            {{ include('project/_delete_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
            <input class="btn btn-danger" type="submit" name="Supprimer" value="Supprimer" form="delete-projet" />

            <div class="card">
                <div class="card-body">
                    <p class="card-text">Collaborateurs participants</p>
                    {% for user_project_apply in project_apply_is_validate %}
                        {% for profil in user_project_apply.idUser.profils %}
                            {% if profil.roleProfil == false %}
                                <div style="margin-bottom:5px">
                                    <a href="{{ path('profil_show', {'id': profil.id}) }}">- {{ user_project_apply.idUser.username }} ({{ user_project_apply.idUser.email }})</a>
                                    <div style="display:inline-block">{{ include('user_project_apply/_delete_form.html.twig') }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p style="color:#C1C1C1"><i>Aucun collaborateurs participants au projet ...</i></p>
                    {% endfor %}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="card-text">Collaborateurs en attente</p>
                    {% for user_project_apply in project_apply_not_validate %}
                        {% for profil in user_project_apply.idUser.profils %}
                            {% if profil.roleProfil == false %}
                                <div style="margin-bottom:5px">
                                    <a href="{{ path('profil_show', {'id': profil.id}) }}">- {{ user_project_apply.idUser.username }} ({{ user_project_apply.idUser.email }})</a>
                                    
                                    <div style="display:inline-block"><form method="post" action="{{ path('user_project_apply_accept', {'id': user_project_apply.id}) }}">
                                        <button class="btn btn-primary">Accepter</button>
                                    </form></div>

                                    <div style="display:inline-block">{{ include('user_project_apply/_delete_form.html.twig') }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p style="color:#C1C1C1"><i>Aucun collaborateurs en attente ...</i></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
