{% extends 'base.html.twig' %}

{% block title %}Créer un projet{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">Créer un projet</h1>

        <div class="card-block mx-auto">
            {{ include('project/_form.html.twig') }}
            <a class="btn btn-dark" style="margin-top:5px" href="{{ path('project_index') }}">Retourner à la liste</a>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
