{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">Projet</h1>

        <div class="card-block mx-auto">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Titre : </strong>{{ project.name }}</p>
                    <p class="card-text"><strong>Description : </strong>{{ project.description }}</p>
                    {#<p class="card-text"><strong>Description privé : </strong>{{ project.descriptionPrivate }}</p>#}
                    <p class="card-text"><strong>Créé le : </strong>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    <p class="card-text"><strong>Modifié le : </strong>{{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
                    {#<p class="card-text"><strong>Le projet est privée : </strong>{{ project.isPrivate ? 'Yes' : 'No' }}</p>#}
                    {#<p class="card-text"><strong>Le projet est Premium : </strong>{{ project.isPremium ? 'Yes' : 'No' }}</p>#}
                </div>
            </div>
            <a style="margin-top:5px" class="btn btn-dark" href="{{ path('project_index') }}">Retourner à la liste</a>
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
