{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
<input class="btn btn-danger" type="submit" name="Supprimer" value="Supprimer son compte" form="delete-user" />
{{ form_end(form) }}
