{% extends 'base.html.twig' %}

{% block title %}Modifier compte{% endblock %}

{% block body %}

    <div class="container-fluid" style="margin-top:75px;margin-bottom:75px">
        <h1 class="text-center">Modification du compte</h1>
        <div class="card-block mx-auto">
            {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            {{ include('user/_delete_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>

    {#{{ include('user/_delete_form.html.twig') }}#}

    {% include 'footer.html.twig' %}
{% endblock %}
