{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="text-center">UTILISATEURS</h1>

    <div class="new-project mx-auto">
        <a class="btn btn-primary" href="{{ path('user_new') }}">Nouvel utilisateur</a>
    </div>

    {% for message in app.flashes('success') %}
        <div class='alert alert-success'>
            {{ message }}
        </div>
    {% endfor %}

    <div class="card-block mx-auto">
        {% for user in users %}

            <div class="card">
                <div class="card-header">
                    <strong>{{ user.username }}</strong>
                    <span class="card-date">Créé le : {{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</span>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Email</strong> : {{ user.email }}</p>
                    <p class="card-text"><strong>Modifié le</strong> : {{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
                    <p class="card-text"><strong>Compte premium</strong> : {{ user.isPremium ? 'Yes' : 'No' }}</p>
                    <p class="card-text"><strong>Compte validé</strong> : {{ user.isEnable ? 'Yes' : 'No' }}</p>
                    <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </div>
            </div>

        {% else %}
            <p>Aucun utilisateur n'a été créé ...</p>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(users) }}
    </div>

{% endblock %}
